/*Estilos gerais*/
body {
  font-family: 'Teko', helvetica Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #f1f1f1;
}

p{
  font-family:'Libre Baskerville', Georgia, "Times New Roman", serif ;
  font-size: 14px;
  line-height: 20px;
}

li{
  vertical-align: middle;
}

.quebra{
  height: 80px;
  width: 100%;
  background-color: #181818;
}

.menu-fixo{
	position: fixed;
	top: 0;
	z-index: 99;
}

.drop-fixo{
	position: fixed;
	top: 97px;
	z-index: 99;
}
/*Header*/

header{
  height: 100%;
}

.header-contato{
  height: 60px;
  background-color: #261D1D;
  padding: 10px 0;
}

.header-contato ul li{
  display: inline-block;
  margin-right: 10px;
}

.header-contato ul li a {
  border: 3px solid #F1F1F1;
  height: 40px;
  width: 40px;
  display: block;
  padding: 8px;
  transition: border 0.1s;
  transition-timing-function: linear;
}

.header-contato ul li a:hover {
  border: 3px solid #441414;
}

.header-contato ul li a img{
  height: 18px;
  width: 18px;
  display: block;
}

.header-email{
  text-align: center;
  padding-top: 5px;
}

.header-telefone{
  text-align: right;
  padding-top: 5px;
}

.header-menu{
  width: 100%;
  height: 100px;
  background-color: #441414;
  z-index: 10;
  padding-top: 10px;
}

.logo{
  width: 200px;
  height: 60px;
}

li.col-md-4{
  padding-top: 10px;
}
li.col-md-2{
  padding-top: 15px;
}

.header-menu ul li {
  display: inline-block;
}

.header-menu ul li a{
  text-decoration: none;
  display: block;
  color: #FFF;
  font-size: 36px;
  text-align: center;
  transition: border 0.1s;
  transition-timing-function: linear;
}

.header-menu ul .hover:hover{
  border: 4px solid #f1f1f1;
  padding: 0;
}

.header-menu ul li:nth-child(6){
  display: none;
}


/*Section imagem-intro*/
.imagem-intro{
  position: relative;
  width: 100%;
  height: 530px;
  background-image: url("../img/web/calculator-385506_1920.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.titulo-imagem{
  position: absolute;
  font-size: 48px;
  color: #FFF;
  left: 8%;
  bottom: 60px;
}

/*section serviço*/
.servicos{
  background-color: #261D1D;
  height: auto;
}

.servico{
  height: auto;
  padding: 15px;
  display: block;
}

.servico-head{
  background-color:#441414;
  width: 33,33%;
  height: 160px;
  padding: 20px;
}

.servico-head img{
  display: block;
  width: 60px;
  height: 60px;
  margin:0 auto 10px auto;
}

.servico-head h3{
  font-size: 32px;
  color: #F1F1F1;
  text-align: center;
}

.servico-body{
  background-color:#F1F1F1;
  width: 33,33%;
  height: auto;
  padding: 30px;
  float: left;
}

.servico-body p{
  font-size: 16px;
  color: #181818;
  text-align:justify;
}

.servico-body .btn-vermelho{
  border: none;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 140px;
  height: 42px;
  background-color: #441414;
  transition: border 0.1s, color 0.1s, background-color 0.1s;
  transition-timing-function: linear;
}

.servico-body .btn-vermelho:hover{
  border: 4px solid #441414;
  color: #441414;
  background-color: white;
}

/*Sobre*/
.sobre{
  background-image: url("../img/web/imagem-sobre.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.sobre h2{
  margin: 40px 0;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.texto-sobre{
  background-color:#441414;
  opacity: 0.5;
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 100px;
  padding: 50px 100px;
}
.texto-sobre p{
  font-size: 18px;
  color: #F1F1F1;
  text-align:justify;
}

/*Equipe*/

.equipe{
  height: auto;
  background-color:#261D1D;
  text-align: center;
}

.equipe h2{
  margin: 40px 0;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.pessoa-equipe{
  margin-bottom: 50px;
}

.pessoa-head{
  height: 210px;
}

.pessoa-body{
  background-color: #441414;
  padding: 10px;
  width: 248px;
  margin: 0 auto;
  text-align: center;
}

.pessoa-body h3{
  font-size: 28px;
}

/*Seção Contato*/
.contato{
  background-image: url("../img/web/image4384.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.contato h2{
  margin: 40px 0;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.formulario{
  text-align: left;
}

.formulario label{
  margin-left: 5px;
}

.formulario input, .formulario textarea{
  display: block;
  width: 100%;
  border: 4px solid #441414;
  padding: 5px 10px;
  margin-bottom: 5px;
  outline: none;
  font-size: 14px;
  color: #181818;
  font-family:'Libre Baskerville', Georgia, "Times New Roman", serif ;
}

.formulario .btn-vermelho{
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 140px;
  height: 42px;
  background-color: #441414;
  transition: border 0.1s, color 0.1s, background-color 0.1s;
  transition-timing-function: linear;
}

.formulario .btn-vermelho:hover{
  border: 4px solid #441414;
  color: #441414;
  background-color: white;
}

.redes-sociais-contato ul{
  text-align: left;
  margin-top: 20px;
  margin-left: 40px;
}

.redes-sociais-contato ul li{
  display: inline-block;
  margin-right: 50px;
}

.redes-sociais-contato ul li a {
  border: 4px solid #F1F1F1;
  height: 80px;
  width: 80px;
  display: block;
  padding: 18px;
  transition: border 0.1s;
  transition-timing-function: linear;
}

.redes-sociais-contato ul li a:hover {
  border: 4px solid #441414;
}

.redes-sociais-contato ul li a img{
  height: 35px;
  width: 35px;
  display: block;
}

.contato-email, .contato-telefone{
  text-align: left;
  padding-top: 5px;
  margin-top: 20px;
  margin-left: 40px;
  font-size: 32px;
}

/*Footer*/
footer{
  background-color: #441414;
}

footer .quebra h5{
  font-size: 28px;
  color: #F1F1F1;
  margin: 25px 0;
}

footer .quebra h5 a{
  text-decoration: none;
  color: #00adb5;
}

footer span{
  padding: 5px 10px;
  display: block;
  text-align: right;
}
