/*Tela média*/
@media only screen and (min-width:992px) and (max-width:1199px) {

}
/*Tela de tablet*/
@media only screen and (min-width:768px) and (max-width:991px){
  
}

/*Tela de telefone*/
@media only screen and (max-width:767px){
    /*Cabeçalho*/
    body{
      font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;      
    }

  header{
      background-color: #474747;
      height: 80px;
      font-size: 1.5em;
      padding-top: 38px; 
      padding-left: 20px;
      color:#f1f1f1;
  }

  .titulo-mesa{
      margin-left:8px;
  }

  .fa-bars{
      cursor: pointer;
  }

  /*Categorias*/

  .categoria{
      display: flex;
      /*flex-wrap: wrap; */
  }

  .col-2{
      width: calc(100%/2);
      background-color: #999;
      margin: 20px 12px;
      padding: 20px;
      border-radius: 15px;
      text-align: center;
      font-size: 1.2em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .col-2 img{
      width: 50px;
      display: block;
      margin: 0 auto 10px auto;
  }


}
